$bodyBg:rgb(228, 225, 225);
$mainColor:rgba(255, 0, 0, 0.59);
$borderColor:2px solid rgba(0, 0, 0, 0.275);
$backgroundColorForAr:white;
$dateColor:rgb(184, 184, 184);
$fonts:Verdana, Serif;
$headersColor:rgb(126, 126, 126);
$paragraphColor:rgb(131, 129, 129);
$paragrapfFont:'Arial Narrow', Arial, sans-serif,'Franklin Gothic Medium';
$footerColor:rgba(77, 77, 77, 0.638);
$colorInForms:rgba(60, 59, 59, 0.638);
$fontSizeForms:17px;
$fontWeigth:bold;